.red{
    width: 500px;
    height: 500px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green{
    width: 350px;
    height: 350px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue{
    width: 200px;
    height: 200px;
    background-color: blue;
}
ul{
    list-style-type: none;
}
li{
    font-size: 16px;
    padding: 10px;
}

.block{
    width: 500px;
    margin: 0 auto;
    border: solid 5px black;
    padding: 10px;
}